{
    "instances":{
        "localhost-Yii": {
            "source": "localhost:11211",
            "middlemanName": "yii",
            "middlemanConfig": {
                "appName": "gxt",
                "hash": "yes"
            }
        }
    },
    "basic_auth": {
        "on": "yes",
        "username": "test",
        "password": "test"
    }
}
